{% extends 'base.html.twig' %}

{% block title %}Liste des Newsletters
{% endblock %}

{% block body %}
	<hr>
	<hr>
	<hr>

	<div class="row">
		<h1 class="col-md-8 mx-auto">Listes de newsletters</h1>
		

		<div class="col-md-8 mx-auto">
        {% for message in app.flashes('message') %}
    <div class="text-success">{{ message }}</div>
{% endfor %}
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Titre De Newsletter</th>
						<th>Date</th>
						<th>Catégorie</th>
						<th>Abonnées</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for newsletter in newsletters %}
						<tr>
							<td>{{newsletter.id}}</td>
							<td>{{newsletter.name}}</td>
							<td>{{newsletter.createdAt|date}}</td>
							<td>{{newsletter.categories.name}}</td>
							<td>{{newsletter.categories.users|length}}</td>
							<td>
								{% if newsletter.isSent == false %}
									<a href="{{ path('newsletters_send', {id: newsletter.id}) }}">Envoyer</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>


		</div>
	</div>
	<hr>
	<hr>
	<hr>
{% endblock %}
